@import './base.css';

#app {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100%;
  /* transition: all 0.2s ease-in-out; */
  &:has(aside.active) {
    grid-template-columns: 60px 1fr;
  }
  @media (max-width: 767px) {
    & {
      grid-template-columns: 60px 1fr;
    }
  }
}

html,
body {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
