@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --chngeable-color: #e3391a; 6A59FF  280072*/
  --primary-color: var(--chngeable-color, #f5f5f5);
  --hover-color: #000;
  --hover-text: #fff;
  --primary-text: #00000080;
  --secondary-color: #000;
}
.dark {
  --primary-color: #000;
  --hover-color: #f5f5f5;
  --hover-text: #000;
  --primary-text: #fff;
  --secondary-color: #d8b4fe;
}

.side-bar {
  @apply bg-[var(--primary-color)] py-4 px-3 fixed top-0 start-0 max-w-[160px] w-full h-dvh z-50 border-e border-[var(--hover-color)];
}
.side-bar.active {
  @apply max-w-[60px];
}
.side-bar.mobile {
  @apply hidden max-w-full;
  &.mobilemenu {
    @apply block;
  }
}
.side-bar-link {
  @apply flex relative text-[var(--hover-color)] gap-2 md:justify-start justify-center items-center hover:bg-[var(--hover-color)] hover:text-[var(--hover-text)]  rounded max-w-[150px] w-full;
}
.side-bar-link.router-link-active.router-link-exact-active {
  @apply bg-[var(--hover-color)] text-[var(--hover-text)];
}

.main-content-wrapper {
  @apply h-dvh  overflow-hidden select-none transition-all;
}
.main-inner-wrapper {
  @apply relative h-[calc(100dvh-60px)] bg-[var(--primary-color)] overflow-hidden;
}

.toggle-button {
  @apply absolute top-[30px] right-[-18px] -translate-x-1/2 -translate-y-1/2 w-[10px] z-30 cursor-pointer text-[var(--hover-color)];
}

.image-container {
  @apply h-[150px] w-full max-w-[150px];
}
.image-container img {
  @apply h-full w-full;
}

.form-wrapper {
  @apply relative z-20 flex flex-col gap-2 bg-[var(--primary-color)]  rounded max-w-[300px] w-full;
}

.form-inner-wrapper {
  @apply relative border border-[var(--primary-text)] rounded focus:outline-none focus:border-[var(--primary-color)] ps-[30px];
}
.form-inner-wrapper .form-control-span {
  @apply absolute top-1/2 start-[6px] -translate-y-1/2 h-[20px] w-[20px] text-[var(--hover-color)];
}
.form-inner-wrapper .form-control-span.right-span {
  @apply end-[6px] start-[unset];
}
.form-inner-wrapper .form-custom-input {
  @apply w-full mb-0 h-[35px]  bg-transparent border-0 rounded focus:outline-none focus:border-[var(--primary-color)] text-[var(--primary-text)] px-2 placeholder:text-[var(--primary-text)];
}

.form-custom-label {
  @apply block mb-2 text-[var(--hover-color)];
}
.form-input-wrapper {
  @apply mb-3;
}
.main-heading {
  @apply text-[32px] leading-[30px] font-bold text-[var(--hover-color)] text-center mb-0;
}
.heading-text {
  @apply text-[12px]  text-[var(--hover-color)] text-center mb-0;
}

.primary-button {
  @apply bg-[var(--hover-color)] px-3 py-1 rounded max-w-fit text-[var(--hover-text)] cursor-pointer flex items-center gap-1  disabled:cursor-not-allowed;
}
.primary-button .button-text {
  @apply line-clamp-1 capitalize font-semibold;
}

.span-badge {
  @apply rounded-full text-[var(--hover-text)] bg-[var(--hover-color)] py-1 px-3 capitalize;
}
.span-badge-text {
  @apply text-lg font-semibold text-[var(--hover-color)];
}
.small-modal {
  @apply fixed  inset-0 flex items-center justify-center;
}
.small-modal .inner-layer {
  @apply w-full h-full  absolute z-10 bg-[#000000dd];
}
.small-modal .small-inner-modal {
  @apply bg-[var(--primary-color)] rounded border border-[var(--hover-color)] max-w-[300px] w-full relative z-20 py-2 max-h-[300px] h-full overflow-hidden;
}
.small-modal .small-inner-modal > strong {
  @apply text-lg text-[var(--hover-color)] px-2;
}
.small-modal .small-inner-modal > ul {
  @apply flex flex-col gap-2 overflow-y-auto h-[calc(300px-50px)] p-2;
}
.small-modal .small-inner-modal > ul li {
  @apply flex flex-col gap-1 text-[var(--hover-color)] rounded border border-[var(--hover-color)] p-2;
}
.primary-text {
  @apply text-[var(--hover-color)];
}

.dashboard-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-5;
}
.dashboard-container .dashboard-card {
  @apply border border-[var(--hover-color)] rounded p-2  w-full;
}

.profile-icon-wrapper {
  @apply inline-flex h-[40px] w-[40px] relative cursor-pointer;
}
.profile-icon-wrapper:after {
  content: '❮';
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%) rotate(270deg);
  color: var(--hover-color);
}

.profile-menu-wrapper {
  @apply absolute right-0 top-full translate-y-1/2  z-50 w-[200px]  bg-[var(--primary-color)] text-[var(--hover-color)] rounded shadow-md border border-[var(--hover-color)] flex flex-col;
}
.profile-menu-wrapper li a {
  @apply w-full flex items-center justify-start gap-2  hover:bg-[var(--hover-color)] hover:text-[var(--hover-text)] rounded-sm p-2 cursor-pointer;
}
.profile-menu-wrapper li a .menu-icon {
  @apply w-[20px] h-[20px];
}

.product-box {
  @apply border border-[var(--hover-color)] rounded  text-[var(--hover-color)]  flex flex-col justify-center items-center transition-all;
  /* box-shadow: inset 0px 0px 20px 6px var(--hover-color); */

  &:hover {
    /* @apply bg-[var(--hover-color)] text-[var(--hover-text)]; */
    box-shadow: inset 0px 0px 20px 6px var(--hover-color);
  }
}

.grid-product-list {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-x-5 gap-y-5 h-[calc(100%-90px)] md:h-[calc(100%-50px)] overflow-y-auto px-4;
}
