@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --chngeable-color: #e3391a; 6A59FF  280072*/
  --primary-color: var(--chngeable-color, #ddf4ff);
  --hover-color: #0871a3;
  --hover-text: #fff;
  --primary-text: #1f2328;
  --secondary-color: #d8b4fe;
}
.dark {
  --primary-color: #0871a3;
  --hover-color: #ddf4ff;
  --hover-text: #1f2328;
  --primary-text: #fff;
  --secondary-color: #d8b4fe;
}

.side-bar {
  @apply bg-[var(--primary-color)] py-4 px-3 relative border-e border-[var(--hover-color)];
}
.side-bar-link {
  @apply flex relative text-[var(--primary-text)] gap-2 justify-center items-center hover:bg-[var(--hover-color)] hover:text-[var(--hover-text)]  rounded;
}
.side-bar-link.router-link-active.router-link-exact-active {
  @apply bg-[var(--hover-color)] text-[var(--hover-text)];
}

.main-content-wrapper {
  @apply h-dvh  overflow-hidden;
}
.main-inner-wrapper {
  @apply relative h-[calc(100dvh-60px)] bg-[var(--primary-color)] overflow-hidden;
}

.toggle-button {
  @apply absolute top-[30px] right-[-18px] -translate-x-1/2 -translate-y-1/2 w-[10px] z-30 cursor-pointer text-[var(--hover-color)];
}

.image-container {
  @apply h-[150px] w-full;
}
.image-container img {
  @apply h-full w-full;
}

.form-custom-input {
  @apply w-full mb-2 h-[35px] autofill:bg-transparent bg-transparent border border-[var(--primary-text)] rounded focus:outline-none focus:border-[var(--primary-color)] text-[var(--primary-text)] px-2 placeholder:text-[var(--primary-text)];
}

.form-custom-label {
  @apply block mb-2 text-[var(--primary-text)];
}
.form-input-wrapper {
  @apply mb-3;
}
.main-heading {
  @apply text-[30px] text-[var(--primary-text)] text-center mb-0;
}

.primary-button {
  @apply bg-[var(--primary-text)] px-3 py-1 rounded max-w-fit text-[var(--primary-color)] cursor-pointer flex items-center gap-1  disabled:cursor-not-allowed;
}
.primary-button .button-text {
  @apply line-clamp-1 capitalize font-semibold;
}

.span-badge {
  @apply rounded-full text-[var(--hover-text)] bg-[var(--hover-color)] py-1 px-3 capitalize;
}
.span-badge-text {
  @apply text-lg font-semibold text-[var(--hover-color)];
}
.small-modal {
  @apply fixed  inset-0 flex items-center justify-center;
}
.small-modal .inner-layer {
  @apply w-full h-full  absolute z-10 bg-[#000000dd];
}
.small-modal .small-inner-modal {
  @apply bg-[var(--primary-color)] rounded border border-[var(--hover-color)] max-w-[300px] w-full relative z-20 py-2 max-h-[300px] h-full overflow-hidden;
}
.small-modal .small-inner-modal > strong {
  @apply text-lg text-[var(--hover-color)] px-2;
}
.small-modal .small-inner-modal > ul {
  @apply flex flex-col gap-2 overflow-y-auto h-[calc(300px-50px)] p-2;
}
.small-modal .small-inner-modal > ul li {
  @apply flex flex-col gap-1 text-[var(--hover-color)] rounded border border-[var(--hover-color)] p-2;
}
